[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
pyqt5 = "*"
numba = "==0.41.0"
llvmlite = "==0.27"

[requires]
python_version = "3.6"

[scripts]
test = "python -m unittest discover"
